.collection-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
